<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/pub/thomas-sutherland-mcphee/77/b9b/261" target="_blank">LinkedIn</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://ThomasMcPhee.com/" target="_blank">ThomasMcPhee.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i>
<script type="text/javascript">
<!--- script source = 'www.spamstop.org'
function spamfreemail(){ var
dom='&#x67;&#x6D;&#x61;&#x69;&#x6C;.&#x63;&#x6F;&#x6D;',
display='&#x74;.&#x73;.&#x6D;&#x63;&#x70;&#x68;&#x65;&#x65; (&#x67;&#x6D;&#x61;&#x69;&#x6C;)',
x40='&#x40;',
part1='&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;:',
name='&#x74;.&#x73;.&#x6D;&#x63;&#x70;&#x68;&#x65;&#x65;';
stuff='';
document.write('<a title="'+display+'" href="'+part1+name+x40+dom+stuff+'">'+display+'<\/a>');}
spamfreemail()
-->
</script>
